html {
  font-family: sans-serif;
}

.button {
  -webkit-user-select: none;
  cursor: pointer;
}

.header {
  position: absolute;
  top: 0px;
  right: 0px;
  .login {
    margin-top: 20px;
    margin-right: 20px;
    .login-button {
      text-decoration: underline;
      cursor: pointer;
      text-align: right;
    }
    input {
      display: inline;
    }
    .error-message {
      margin-top: 10px;
    }
  }
}

.main-container {
  display: flex;
  width: 700px;
  margin: 0px auto;
  margin-top: 200px;
  
  .participants {
    flex: 0 0 200px;
  }

  .track-list-and-submit {
    width: 100%;
    margin-left: 10px;

    .track-list {
      font-family: monospace;
      background: #444;
      color: white;

      .track {
        display: flex;
        align-items: center;
        border-bottom: 1px solid;
        .button;
        .track-thumbnail {
          
        }
        .track-title {
          padding: 0px 30px;
        }
      }
    }

    .submit-track {
      display: flex;

      .submit-track-button {
        .button;
        flex: 0 0 100px;
        text-align: center;
        padding: 10px;
        background: #B5D2EA;
      }

      input {
        font: inherit;
        width: 100%;
        padding-left: 10px;
        &:focus {
          outline: none;
        }
      }
    }
  }
}


