<div class="main-container">
  
  <header class="header">
    <div class="participant-list">
      <div class="participant" v-for="player in participants.data">
        <div class="player-color" v-bind:style="{ background: player.color }"></div>
        <div>{{ player.name }}</div>
      </div>
    </div>
    <login></login>
  </header>

  <a class="fish-head" href="https://chrome.google.com/webstore/detail/fmn/mgmbpijpcjcincjbpnnhjnjclaijhodj" target="_blank">
    <img src="images/fish-head-small.png">
  </a>
  <!-- <div class="tabs">
    <div class="button">Everything</div>
    <div class="button">Songs</div>
  </div> -->

  <div class="video">
    <div class="no-video" v-show="!videoSrc">
      <div class="arrow">&#8592;</div>
      <div class="helper-text">click on a track in the list to play it</div>
    </div>
    <iframe id="video-player" v-show="videoSrc" v-bind:src="videoSrc" type="text/html" width="640" height="390" frameborder="0"></iframe>
  </div>

  <div class="activities" v-scroll-activities="roomRef">
    <div class="activity" v-for="activity in activities">
      
      <div class="message-text" v-if="isChat(activity)">
        <div class="message-color" v-bind:style="{ background: getPlayerColor(activity.userId)  }"></div>
        <div>{{ activity.chat }}</div>
      </div>

      <div class="track" v-if="isTrack(activity)" v-on:click="setVideoUrl(activity)">
        <div class="track-title">
          <div v-show="activity.title">{{ activity.title }}</div>
          <div v-show="!activity.title">{{ activity.url }}</div>
        </div>
        <div class="track-color" v-bind:style="{ background: getPlayerColor(activity.userId) }"></div>
      </div>

    </div>
  </div>

  <div class="submit-box" v-show="user.data && userIsParticipant()">
    <div class="submit-track-input">
      <input v-model="userInput" type="text" placeholder="Submit a message or youtube url here" v-on:keyup.enter="submitSomething" />
    </div>
    <div class="button purple" v-show="user.data && !userIsParticipant()" v-on:click="joinRoom">Join Room!</div>
  </div>

</div>