<div class="header">
  <login></login>
</div>

<div class="video-and-chat-wrapper">
  <div class="video-and-chat">

    <div class="video">
      <div class="no-video" v-show="!videoSrc">
        <div class="arrow">&#8592;</div>
        <div class="helper-text">click on a track in the list to play it</div>
      </div>
      <iframe id="video-player" v-show="videoSrc" v-bind:src="videoSrc" type="text/html" width="640" height="390" frameborder="0"></iframe>
    </div>
    
    <div class="participant-list">
      <div class="participant" v-for="player in participants.data">
        <div class="player-color" v-bind:style="{ background: player.color }"></div>
        <div>{{ player.name }}</div>
      </div>
      <div class="button purple" v-show="user.data && !isParticipant(user.data.uid)" v-on:click="joinRoom">Join Room!</div>
    </div>

    <chat v-bind:room-ref="roomRef"></chat>

  </div>
</div>

<div class="submit-track-wrapper">
  <div class="submit-track" v-show="isParticipant(user.data.uid)">
    <div class="submit-track-input">
      <input v-model="urlInput" type="text" placeholder="Paste a youtube url here" v-on:keyup.enter="submitTrack" />
      <div class="submit-track-button" v-on:click="submitTrack">Submit</div>
    </div>
    <div class="turn-indicator">it's {{ getNextPlayer().name }}'s turn</div>
  </div>
</div>

<div class="track-list-wrapper">
  <div class="track-list">
    <div class="track" v-for="track in sortedTracks" v-on:click="setVideoUrl(track)">
      <img class="track-thumbnail" v-bind:src="track.thumbnail ? track.thumbnail.url : ''">
      <div class="track-title">
        <div v-show="track.title">{{ track.title }}</div>
        <div v-show="!track.title">{{ track.url }}</div>
      </div>
      <div class="track-color" v-bind:style="{ background: getPlayerColor(track.userId) }"></div>
    </div>
  </div>
</div>
